@import "tailwindcss";
/* @plugin './hero.ts'; */

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {}

@theme inline {
  --color-light: #FDF5E6;
  --color-dark: #2A1A1F;
  --color-maroon: #642F37;
  --color-red: #C0350F;
  --color-orange: #F3904B;
  --color-yellow: #F7C767;
  --color-purple: #B89DBB;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {}